@page
@model WalktoMordor.Pages.track_distance.DetailsModel

@{
    ViewData["Title"] = "Entry Details";
}

<h2 class="text-warning">Entry Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tracker.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracker.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tracker.Distance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracker.Distance)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <a asp-page="./Edit" asp-route-id="@Model.Tracker.ID" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-warning">Back to List</a>
</div>
