@page
@model RazorPagesMovie.Pages.track_distance.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tracker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tracker.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracker.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tracker.Distance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tracker.Distance)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tracker.ID" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
